<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- sqlserver本地数据连接 -->
    <add name="LocalSqlConStr" connectionString="server=192.168.1.198;database=feng;uid=sa;pwd=63305330"/>
    <!--sqlserver远程数据连接 -->
    <add name="RemoteSqlConStr" connectionString="server=192.168.1.198;database=enuo63305330;uid=root;pwd=root"/>
    <!-- tiff文件移动地址 -->
    <add name="PicPath" connectionString="C:/天庸公司/数字凭证(制作)/"/>
  </connectionStrings>
</configuration>